
<div class="js-country card">
    <img src="{{flags.svg}}" alt="" width="110" height="90">
    <h1 class="country-title">{{name.official}}</h1>
    <div class="country-content">
        <ul class="country-list">
            <li class="country-list-elem ">
                <h2 class="country-list-elem-title">Capital:</h2>
                <p class="country-list-elem-text">{{capital}}</p>
            </li>
            <li class="country-list-elem">
                <h2 class="country-list-elem-title">Population:</h2>
                <p class="country-list-elem-text">{{population}}</p>
            </li>
            <li class="country-list-elem">
                <h2 class="country-list-elem-title">Languages:</h2>
                <ul class="country-list">
                    {{#each languages}}
                    <li class="country-list-elem">
                        <p class="country-list-elem-text">{{this}}</p>
                    </li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        
    </div>
</div>
