{{#each this}}
    <div class="js-country card">
        <div class="country-content">
            <div class="flags-picture">
            <img src="{{flags.svg}}" alt="" width="70" height="50">
            </div>
            <h1 class="countries-list-title">{{name.official}}</h1>
        </div>
        <p class="country-list-elem-title">Capital: <span class="country-list-elem-text">{{capital}}</span></p>
        <p class="country-list-elem-title">Population: <span class="country-list-elem-text">{{population}}</span></p>
        <p class="country-list-elem-title">Languages: {{#each languages}}<span class="country-list-elem-text">{{this}} </span>{{/each}}</p>
    </div>
{{/each}}